
<button mat-raised-button  (click)="createProduct()">Create Product</button>
<app-table [tabledata]="tableData" [columnHeader]="columnHeader"
(clickEvent)="viewdetails($event)" [dataSource]="dataSource" [buttons]="buttons" ></app-table>