mat-form-field{
display: flex;
scroll-behavior: auto;

// width: 30rem;
// height: 8rem;
}
form{
   
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
// matInput{
//     padding: 1rem;
// }