<!-- <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" class="w-100" [formGroup]="form">
        <mat-label>Fill in Tournament Name</mat-label>
        <input matInput placeholder="Tournament Name" formControlName="name" value="name" />
    </mat-form-field>
    <mat-form-field [formGroup]="form">
        <mat-label>Select Category</mat-label>
        <mat-select formControlName="website" multiple>
            <mat-option *ngFor="let website of websites" [value]="website.viewValue">
                {{website.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
   
        <div *ngFor="let phone of getPhonesFormControls(); let i = index" [formGroup]="form">
            <mat-label>Word </mat-label>
            <input matInput [formControl]="phone" type="text" placeholder="Word">
            <mat-label>Hint</mat-label>
            <input matInput [formControl]="phone"type="text" placeholder="Hint">
        </div>
        <button mat-raised-button (click)="addPhone()">add</button>
        <mat-label>Word</mat-label>



    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button color="primary" (click)="data.callback(input.value)" (click)="submit()">
            Submit
        </button>
    </mat-dialog-actions> -->
    
<!-- <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div formArrayName="employees">
      <div *ngFor="let employee of employees().controls; let empIndex=index">
        <div
          [formGroupName]="empIndex"
          style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
        >
          <div formArrayName="skills">
            <div
              *ngFor="let skill of employeeSkills(empIndex).controls ; let skillIndex=index">
              <div [formGroupName]="skillIndex">
            
                <input matInput type="text"  placeholder="skill" formControlName="skill" />
                <input matInput type="text" placeholder="skill2" formControlName="skill2" />
                <input matInput type="text" placeholder="skill3" formControlName="skill3" />
              </div>
            </div>
            <button mat-button [ngStyle]="{'display': expression}" (click)="addEmployeeSkill(empIndex)"  ng-disabled="buttonClicked" type="button" >
                Add Skill
              </button>
          </div>
         
        </div>
    
      </div>
      <button (click)=" addEmployee()">add</button>
      <button (click)="onSubmit()">Submit</button>
    </div>
  </form>
  
{{this.empForm.value | json}} -->
<!-- <h1>{{title}}</h1> -->


<button mat-raised-button [ngStyle]="visibility == 1 ? {'dispay': 'visible'} : {'display': 'none'}" (click)="addEmployee()">Start</button>
<form [formGroup]="createTournament" (ngSubmit)="onSubmit()">
  <div formArrayName="tournament">
    <div *ngFor="let item of employees().controls; let empIndex=index">
      <div
        [formGroupName]="empIndex"
        style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
      >
      
      <mat-form-field >
        <input matInput type="text" formControlName="tournamentName"  placeholder="tournament Name"/>
      </mat-form-field >

      <mat-form-field >
        <input matInput type="text" formControlName="firstPriceCoins" placeholder="firstPriceCoins" />
      </mat-form-field>

      <mat-form-field >
        <input matInput type="text" formControlName="secondPriceCoins" placeholder="secondPriceCoins" />
      </mat-form-field>

      <mat-form-field >
        <input matInput type="text" formControlName="thirdPriceCoins" placeholder="thirdPriceCoins" />
      </mat-form-field>
        <mat-form-field >
          <mat-label (click)="addEmployee()">Select Category</mat-label>
          <mat-select formControlName="categoryList" multiple>
              <mat-option *ngFor="let item of categoryList" [value]="item.categoryName">
                  {{item.categoryName}}
              </mat-option>
          </mat-select>
      </mat-form-field>

        <button  mat-raised-button (click)="removeEmployee(empIndex)">Remove</button>

        <div formArrayName="wordDtoList" style="border: 1px solid green; margin: 5px;">
          <div
            *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index"
          >
            <div [formGroupName]="skillIndex">
              {{skillIndex+1}} 
              <mat-form-field>
              <input  matInput type="text" formControlName="wordName"  placeholder="wordName" />
            </mat-form-field>


            <mat-form-field>
              <input matInput type="text" formControlName="hintName" placeholder="hintName" />
            </mat-form-field>
              <button  mat-raised-button color="warn"(click)="removeEmployeeSkill(empIndex,skillIndex)">
                Remove
              </button>
            </div>
          </div>
          <button mat-raised-button color="primary" type="button" (click)="addEmployeeSkill(empIndex)">
           Add Words
          </button>
        </div>
      </div>
    </div>
  </div>



  <p>
    <button mat-button color="primary" type="submit" (click)="save()" mat-dialog-close="true" >Submit</button>
  </p>
  <p>
  <button mat-button (click)="close()" mat-dialog-close="true">close</button>
  </p>
</form>

<!-- <pre>{{this.createTournament.value | json}}</pre> -->

