
<h2 mat-dialog-title>{{description}}</h2>
<h2  mat-dialog-title>{{caption}}</h2>
<mat-dialog-content [formGroup]="form" *ngIf="form">
    <mat-form-field  *ngFor="let item of data.type; let i = index">
        <mat-label>{{data.type[i]}}</mat-label>
        <input matInput [formControlName]="data.controls[i]" [type]="data.type[i]"  [placeholder]="data['placeHolder'][i]">  
    </mat-form-field>
</mat-dialog-content>

<!-- 
<ng-container> -->
    <!-- <ng-container formArrayName="interests" >
        <div *ngFor="let item of data.type; let i = index" >
           <mat-checkbox class="example-margin" [formControlName]="data.controls[i]">
             {{item}}
           </mat-checkbox>
        </div>
     </ng-container> -->
<!-- </ng-container> -->



<mat-dialog-actions>
    <button mat-raised-button  (click)="close()" mat-dialog-close="true">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" mat-dialog-close="true">Save</button>
</mat-dialog-actions>
