<!-- <mat-form-field>
    <input matInput  placeholder="Filter" />
  </mat-form-field> -->
  <div>
  <table mat-table [dataSource]="dataSource"  matSort>
    <ng-container
      [matColumnDef]="tableData"
      *ngFor="let tableData of objectKeys(columnHeader)">
      <ng-container [ngSwitch]="tableData" >
        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef mat-sort-header  >
            {{columnHeader[tableData]}} 
          </th>
          <td  mat-cell *matCellDef="let element"  >{{element[tableData] }} </td>
        </ng-container>
  
        <ng-container *ngSwitchCase="'actions'">
          <th mat-header-cell *matHeaderCellDef >{{columnHeader[tableData]}}</th>
          <td mat-cell *matCellDef="let row" >
            <ng-container *ngFor="let button of buttons">
            
            <button mat-button
              (click)="handleClick(row, button)">
              <!-- *ngIf="!row.hasOwnProperty('isEditable') || row['isEditable']"   > -->
              {{button}}
            </button>
            <!-- <button mat-button
              (click)="handleClick(row,button)"
              *ngIf="!row.hasOwnProperty('isDeletable') || row['isDeletable']">
              {{button}}
            </button> -->
        </ng-container>
          
          </td>
          
        </ng-container>
      </ng-container>
    </ng-container>
  
    <!-- Row  when ther is no matchin data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data found</td>
    </tr>
  
    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
  </table>
<!--   
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>