// table {
//     width: 100%;
//   }
// table{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
table{
    // margin-left: 0rem;
    // border-left: 8rem;
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
 padding: 2rem;
   
th{
    background-color: white;
    padding: 0.8rem;
}
td{
    background-color: white;
    padding: 1.2rem;
}
}
// div{
//     background:linear-gradient(#f1ab53,#F17153, #F58D63);
// }
// div{
//     position: absolute;
// left: 10rem;
// top:5rem;


// background-color: red;
// }