.card {
    // max-width: 300px;



background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  }
  .card .mat-card-header-text{
    margin:0px;
  }
  .mat-card{
    font-family: 'Titillium Web', sans-serif;
  }
  .mr5 {
    margin-right: 5px;
  }
  .text-pink {
    color: #e41c77;
  }

  mat-button{
    display: flex;
    
  }
  
  