<div *ngFor="let card of cards ">
<mat-card class="card" >
    <mat-card-header>
     
      <mat-card-title *ngIf="title">{{title}}</mat-card-title>
      <mat-card-subtitle *ngIf="subTitle">{{subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="caption">{{caption}}
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button href="#" class="text-pink learn-more" (onclick)="buttonEvent()">learn more</button>
    </mat-card-actions>
  </mat-card>
</div>