<mat-card>
    <div class="container">
        <span>
            <mat-icon class="icon" routerLink=".." >keyboard_backspace </mat-icon>
      
         
        </span>
        <p>SignUp</p>
        <form class="form" [formGroup]="formGroup" >
           
          
            <mat-form-field floatLabel="never" class="form-element">
                <input required type="email" matInput placeholder="email" formControlName="userName">
                <mat-error>
               
            </mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="never" class="form-element">
                <input required type="nam" matInput placeholder="playerame" formControlName="playerName">
                <mat-error>
               
            </mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="never" class="form-element">
                <input matInput type="password" placeholder="Password" formControlName="userPassword">
                <mat-error>
                </mat-error>
            </mat-form-field>


            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"  (click)="getvalue()">Signup</button>
            </div>
            <!-- <span>
                <mat-label>Reset Password</mat-label>
            </span> -->
            
        </form>
    </div>
</mat-card>

<!-- <app-signinhome [tableData]="tableData" [columnHeader]="columnHeader" [service]="userListService">
    </app-signinhome> -->