
<mat-tab-group>
  
    <mat-tab label="All Categories">
   
        <mat-form-field>
            <mat-label>Select Category</mat-label>
            <mat-select multiple [(value)]="filtervalue" (selectionChange)="filterByCategory(filtervalue)">
              <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                {{category.categoryName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Page</mat-label>
          <mat-select  [(value)]="pageNo" (selectionChange)="filterByPage(pageNo)">
            <mat-option *ngFor="let item of page" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select  [(value)]="order" (selectionChange)="filterBySort(order)">
          <mat-option *ngFor="let item of sortBy" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    
        <app-table [tabledata]="tableData" [columnHeader]="columnHeader"
     [dataSource]="dataSource" [buttons]="buttons" ></app-table>
    </mat-tab>
    <mat-tab label="All Players">



<router-outlet></router-outlet>