<button mat-raised-button color="warn"(click)="navigate()" >Return to Main Page</button>
    <mat-card class="card" *ngFor="let item of  leaderBoardData">

    <mat-card-header class="child">

      <mat-card-title *ngIf="title">Game: {{ item.tournamentName}}</mat-card-title>
      <mat-card-subtitle *ngIf="subTitle">Player Name: {{item.playerName}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="caption"> Score: {{item.score}}
    </mat-card-content>
    <mat-card-content *ngIf="caption"> Game Duration  {{item.gameDuration}}
    </mat-card-content>
    <!-- <mat-card-content *ngIf="caption">  {{item.thirdPriceCoins}}
    </mat-card-content> -->
    <mat-card-actions>


    </mat-card-actions>
  </mat-card>

<router-outlet></router-outlet>