mat-card{
    // width: 60vh;
   
margin-top: 1rem;
    

background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);

    
display: flex;
align-items: center;
justify-content: space-between;
}
.child{
    justify-content: space-between;
}
mat-card-content{
padding: 1rem;
}
button{
    margin-top: 1rem;
    display: flex;
}