
<mat-drawer-container class="example-container">
	<mat-drawer #drawer mode="side" disableClose="true" opened="true">
		<mat-nav-list >
			<mat-list-item    *ngFor="let item of items; let i = index" >
            <div (click)="onSelect(item.tabs, i)">
                <mat-icon   mat-list-icon  >{{item.icons}}</mat-icon>
				<h4 >{{item.tabs}}</h4>
            </div>
			</mat-list-item>
           
    
			<!-- <mat-list-item>
				<mat-icon mat-list-icon>assignment</mat-icon>
				<h4>Assignment</h4>
			</mat-list-item>
			<mat-list-item>
				<mat-icon mat-list-icon>domain</mat-icon>
				<h4>Domain</h4>
			</mat-list-item>
			<mat-list-item>
				<mat-icon mat-list-icon>folder_shared</mat-icon>
				<h4>Folder shared</h4>
			</mat-list-item>-->
		</mat-nav-list> 
	</mat-drawer>

	<!-- <div class="example-sidenav-content">
	hello 
	</div> -->
    <mat-drawer-content>
    
        <ng-content #menu select="[question]"></ng-content>
  
    </mat-drawer-content>
</mat-drawer-container>