.example-container {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;


/* Created with https://www.css-gradient.com */
background: #FCE6BF;
background: -webkit-linear-gradient(right, #FCE6BF, #FFE7BC);
background: -moz-linear-gradient(right, #FCE6BF, #FFE7BC);
background: linear-gradient(to left, #FCE6BF, #FFE7BC);

  }
  
  mat-nav-list {
    width: 60px;
    overflow: hidden;
    transition: width 0.3s;
    background: -webkit-linear-gradient(#f1ab53,#F17153, #F58D63);
  
    h4 {
      opacity: 0;

    }
  }
  
  mat-drawer:hover {
    mat-nav-list {
      width: 180px;
      h4 {
        opacity: 1;
        margin: auto 1rem ;
        transition: all 0.1s ease-in 0.2s;
      }
    }
  }
  

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-drawer-content{
    display: flex;
    left:10rem;
    
}