.example-spacer {
    flex: 1 1 auto;
    cursor: pointer;
  }


  mat-toolbar{
    background-image: -webkit-linear-gradient(#F17153, #dab471);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//   //  border-radius: 2rem;

//  background:url('');
//  background-size: cover;
//  background-repeat: no-repeat;
//  opacity: 90%;

//  object-fit: cover;
//     // display: flex;
//     // align-items: flex-end;
//     // justify-content: flex-end;
    
//     // display: flex;
//     // background-image: url("../../../assets/background.png");
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     // background-image: linear-gradient(190deg, #ef8420 0%, #d6854f 100%);

//     button{
       
//         // background-repeat: no-repeat;
//          background-size: cover;
//         color: rgb(0, 0, 0);
//       font-size: 1.3rem;
//       margin-left: 26rem;
     
//     //    margin:4rem;
      
    
//       }
//       h4{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-left: 30rem;
//       }
//   }
 
//   mat-toolbar{
  
//         display: flex;  
//         align-items: center;
      
//         justify-content: center;
//         h4{
//             font-size: 3rem;
//             font-family:"Roboto",sans-serif;
            
//               color: brown;
             
//         }
//         h3{
//             background-color:aliceblue;
//             border-radius: 2rem;
//             padding: 0.2rem .95rem; 
//         }
//   }
  