.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
mat-raised-button{
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
}