<mat-card class="card">
    <mat-card-header>

        <mat-card-title>Tournament Name</mat-card-title>
        <mat-card-subtitle>BLAZE!</mat-card-subtitle>
    </mat-card-header>
    <!-- <img  mat-card-image src={{image}} alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="start()" >Start</button>
        <button mat-raised-button color="warn" routerLink="/player/list">Back</button>
    </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>

