<!-- <p>leaderboard-section works!</p> -->
<div>
    <mat-dialog-content>
   {{message}}
   <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
     </mat-dialog-content>
     <mat-dialog-actions >
     <button mat-raised-button color="primary" mat-dialog-close  >close</button>
     </mat-dialog-actions>
</div>
