// .displaycontent{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
// }

// mat-tab-group{
//     display: flex;
// justify-content: center;
// align-items: center;
// background-color: peachpuff;
// }


// app-navbar{
//     margin-top: 2rem;
// }

.button{
    display: flex;
    flex-direction: row;
    left:28rem;
    justify-content: flex-end;

}

div{
    height: 30vh;
    display: flex;
 
    align-items: center;
    justify-content: center;

}
// div{
   
//     display: flex;
//     // justify-content: center;
//     // align-items: center;
//     flex-direction: column;
// margin-top: 1rem;
//   height: 40vh;


 
// }

button{
    margin-top: 1rem;
    margin-left: 5.2rem;
  
}
mat-card{
    // width: 60vh;
   
margin-top: 1rem;
    

background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);

    
display: flex;
align-items: center;
justify-content: space-between;
}
.child{
    justify-content: space-between;
}
mat-card-content{
padding: 1rem;
}