<mat-tab-group *ngIf="outlet.isActivated===false">
  <mat-tab label="All Tournaments">

    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select multiple [(value)]="filtervalue" (selectionChange)="filterByCategory(filtervalue)">
        <mat-option *ngFor="let category of categories" [value]="category.categoryName">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Page</mat-label>
      <mat-select [(value)]="pageNo" (selectionChange)="filterByPage(pageNo)">
        <mat-option *ngFor="let item of page" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="order" (selectionChange)="filterBySort(order)">
        <mat-option *ngFor="let item of sortBy" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="createTournament()">create</button>
    <app-table [tabledata]="tableData" [columnHeader]="columnHeader" (clickEvent)="viewdetails($event)"
      [dataSource]="dataSource" [buttons]="buttons"></app-table>
  </mat-tab>
  <mat-tab label="My Tournaments">

    <mat-card class="card" *ngFor="let item of myTournamentData">

      <mat-card-header class="child">

        <mat-card-title *ngIf="title" > Name: {{item.tournamentName}}</mat-card-title>
        <mat-card-subtitle *ngIf="subTitle">ID: {{item.tournamentId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="caption"> first Price coins {{item.firstPriceCoins}}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> second Price coins {{item.secondPriceCoins}}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> third Price coins {{item.thirdPriceCoins}}
      </mat-card-content>
      <button mar-raised-button (click)="stoptournament(item.tournamentId)">Stop Tournament</button>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>


  </mat-tab>
  <mat-tab label="Played Tournaments"><mat-card class="card" *ngFor="let item of specificPlayedData">
      <mat-card-header class="child">
        <mat-card-title *ngIf="title"> Name: {{item.tournamentName}}</mat-card-title>
        <mat-card-subtitle *ngIf="subTitle">ID: {{item.tournamentId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="caption"> Score {{item.score }}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> Game Duration {{item.gameDuration}}
      </mat-card-content>
      <!-- <mat-card-content *ngIf="caption">  {{item.thirdPriceCoins}}
      </mat-card-content> -->
      <mat-card-actions>
      </mat-card-actions>
    </mat-card></mat-tab>

</mat-tab-group>
<div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<!-- <p question>
    Is content projection cool?
  </p>
  <p>Let's learn about content projection!</p> -->