<!-- <div>

    <app-card [title]="title" [subTitle]="subTitle" [caption]="caption" [cards]="cards" ></app-card>
</div> -->



<mat-card class="card">
    <mat-card-header>
      <mat-card-title *ngIf="title">{{playerInfo.userName}}</mat-card-title>
      <mat-card-subtitle *ngIf="subTitle">{{playerInfo.playerId}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="subTitle">   {{playerInfo.playerName}}  </mat-card-subtitle>
      <mat-card-content *ngIf="caption">{{playerInfo.gamesPlayed}} Games Played
      </mat-card-content>
      <mat-card-content *ngIf="caption"> {{playerInfo.totalCoins}} Coins Remaining
      </mat-card-content>
      <mat-card-content *ngIf="caption">{{playerInfo.noOfTournamentsCreated}} Tournaments Created
      </mat-card-content>
      <mat-card-content *ngIf="caption"> Last Logged In{{playerInfo.lastLoginTime | date}} 
      </mat-card-content>
    </mat-card-header>
   

   
    <mat-card-actions>
        
<button mat-raised-button (click)="toggle()">Gifts</button>
<button mat-raised-button (click)="openDialog()">Progress</button>
<button mat-raised-button (click)="resetDialog()">Reset Password</button>
      <!-- <button  mat-raised-button href="#" class="text-pink learn-more">learn more</button> -->
    </mat-card-actions>
  </mat-card>
  <div>
<app-table *ngIf="isOpen" [tabledata]="tableData" [columnHeader]="columnHeader"
(clickEvent)="viewdetails($event)" [dataSource]="dataSource" [buttons]="buttons"></app-table>


</div>


