div{
   
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
margin-top: 2rem;


 
}

mat-button{
    margin-top: 1rem;
  
   
margin: 1rem;  
}
mat-card{
    width: 90vh;
   
margin-top: 1rem;
    

background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);

    
}

mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    background-color: #F17153;
    border-radius: 2rem;
    padding-left: 1.3rem;

}