<mat-tab-group *ngIf="outlet.isActivated===false">
    <mat-tab label="Tournament Requests">
        
    <mat-card class="card" *ngFor="let id of allRequests" >
      <mat-card-header class="child">
        <mat-card-title *ngIf="title">{{id.tournamentName}}</mat-card-title>
        <mat-card-subtitle *ngIf="subTitle">ID: {{id.tournamentId}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="caption"> First Price Coins: {{id.firstPriceCoins}}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> Second Price Coins: {{id.secondPriceCoins}}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> Third Price Coins:  {{id.thirdPriceCoins}}
      </mat-card-content>
      <mat-card-content *ngIf="caption"> Status of Approval:  {{id.tournamentStatus}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="approve(id.tournamentId)">Approve </button>
        <button mat-raised-button color="warn"(click)="rejected(id.tournamentId)" >Reject </button>
    
    </mat-card-actions>
    </mat-card>
      
     
    </mat-tab>
    <mat-tab label="Products Requests">
        <mat-card class="card" *ngFor="let id of getGifts" >
            <mat-card-header class="child">
              <mat-card-title *ngIf="title">Player Nme {{id.playerName}}</mat-card-title>
              <mat-card-subtitle *ngIf="subTitle">ID: {{id.redeemRequestStatus}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="caption"> Status {{id.redeemRequestStatus}}
            </mat-card-content>
            <mat-card-content *ngIf="caption"> Gift Name: {{id.giftName}}
            </mat-card-content>
            <!-- <mat-card-content *ngIf="caption"> Third Price Coins:  {{id.thirdPriceCoins}}
            </mat-card-content> -->
            <!-- <mat-card-content *ngIf="caption"> Status of Approval:  {{id.tournamentStatus}}
            </mat-card-content> -->
            <mat-card-actions>
              <button mat-raised-button color="primary"  (click)="acceptGift(id.redeemRequestId)" >Approve </button>
              <button mat-raised-button color="warn" (click)="rejectGift(id.redeemRequestId)">Reject </button>
          
          </mat-card-actions>
          </mat-card>

    </mat-tab>
    
    </mat-tab-group>
    <div>
    <router-outlet #outlet="outlet"></router-outlet>
    </div>
    