mat-raised-button{
    margin: 1rem;
}

mat-card{
    // width: 60vh;
   
margin-top: 1rem;
    

background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);

    
display: flex;
flex-direction: column;
// align-items: flex-start;
justify-content: space-between;
}

.child{
    justify-content: space-evenly;
}
mat-card-content{
    font-size: 1rem;
}
mat-button-actions{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}