form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}

// }
// mat-card-header{
//   background-color: aqua;
//   border-radius: 2rem;
//   padding-top: 0.6rem;
// }

// input{
//   background-color: beige;
//   border-radius: 2rem;
// }

:host {
  display: flex;
  justify-content: center;
  align-items: center;
 min-height: 100vh;

}
mat-card{
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
}


p{
  margin-top: 2rem;
  font-size: 2.7rem;
  color: #394248;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

mat-card-title,
mat-card-content {
  
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4rem;
  

}



.button {
  display: flex;
  justify-content: flex-end;
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
matInput{
  border: none;
}
mat-label{
  display: flex;
  align-items: baseline;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
  font-size: 0.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #8BC6EC;
  border-radius: 1rem ;
  padding: 0.1rem 0.6rem;
  margin: 1rem;
  cursor: pointer;
 
}
a{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 7rem;
  font-size: 0.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

