<mat-card>
    <div class="container">
        <p>Login</p>
        <form class="form" [formGroup]="formGroup" >
            <span>
                <a class="text-link" class="aLink" (click)="openDialog()">Forgot Password?</a>
            </span>
            <mat-form-field floatLabel="never" class="form-element">
                <input required type="text" matInput placeholder="Username" formControlName="userName" minlength="5" required>
                <mat-error *ngIf="formGroup.controls['userName'].hasError('email') &&
                !formGroup.controls['userName'].hasError('required')">
              Please enter a valid email address
            </mat-error>
                <mat-error>
            </mat-error>
            </mat-form-field>
            <mat-form-field floatLabel="never" class="form-element">
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error>
                </mat-error>
            </mat-form-field>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" (click)="getvalue()"   >Login</button>
            </div>
            <span>
                <mat-label routerLink="signup" >New User?</mat-label>
            </span>
            
            <span></span>
        </form>
    </div>
</mat-card>
<router-outlet></router-outlet>
<!-- <app-signinhome [tableData]="tableData" [columnHeader]="columnHeader" [service]="userListService">
    </app-signinhome> -->