<mat-tab-group *ngIf="outlet.isActivated===false">
  
<mat-tab label="All Categories">
    <button class="button" mat-raised-button (click)="createCategory()" mat-raised-button>Create Category</button>


    <app-table [tabledata]="tableData" [columnHeader]="columnHeader"
        (clickEvent)="viewdetails($event)" [dataSource]="dataSource" [buttons]="buttons" ></app-table>
</mat-tab>
<mat-tab label="All Players">
    
<mat-card class="card" *ngFor="let id of allPlayers" >
  <mat-card-header class="child">
    <mat-card-title *ngIf="title">{{id.playerName}}</mat-card-title>
    <mat-card-subtitle *ngIf="subTitle">{{id.playerId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="caption">{{id.userName}}
  </mat-card-content>
  <mat-card-actions>
    

</mat-card-actions>
</mat-card>
  
 
</mat-tab>


</mat-tab-group>
<div>
<router-outlet #outlet="outlet"></router-outlet>
</div>
