div{
  
/* Created with https://www.css-gradient.com */
background: #779ED6;
background: -webkit-linear-gradient(top left, #779ED6, #AC9BF7);
background: -moz-linear-gradient(top left, #779ED6, #AC9BF7);
background: linear-gradient(to bottom right, #779ED6, #AC9BF7);
  border-radius: 2rem;
  padding: 0.5rem;
  // left:20rem;
  // display: flex;
  // flex-direction: column;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h1 
{
  color: black;
  text-align: center;
  font-family: Algerian;
  font-size: 250%;
}

.message
{
  color: black;
  text-align: center;
  font-family: Algerian;
  font-size: 175%;
  visibility: visible;
}

.letter_button
{
/* Created with https://www.css-gradient.com */
background: #B6FFA0;
background: -webkit-linear-gradient(top left, #B6FFA0, #A6FCBD);
background: -moz-linear-gradient(top left, #B6FFA0, #A6FCBD);
background: linear-gradient(to bottom right, #B6FFA0, #A6FCBD);

  // padding: 0.8rem;
  // padding-right: 0.3rem;
 margin:1rem;

font-family: Lato;
text-align: center;
margin: 2px 2px;
color: white;
border: none;
border-radius: 2rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
/* Created with https://www.css-gradient.com */
background: #D63145;
background: -webkit-linear-gradient(top left, #D63145, #C73638);
background: -moz-linear-gradient(top left, #D63145, #C73638);
background: linear-gradient(to bottom right, #D63145, #C73638);
}

.letters_array
{
display: grid; 
justify-content: center;
grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.start_button
{


text-align: center;
font-family: Lato;
font-size: 1rem
}

.button_array
{

display: grid; 
justify-content: center;

grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px  60px;
}

.lone_button
{
  margin: 30px 2px;
  text-align: center;
}

.letter
{
  display: block; 
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-size: 125%;
  color: black;
  visibility: hidden;
}

._letter
{
  display: block; 
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 125%;
  color: black;
  visibility: visible;
}

// .image
// {
// display: block;
// margin-left: auto;
// margin-right: auto;
// width: 25%;
// }

button{
padding: 0.6rem;
font-size: 1.5rem;
}

