<div *ngIf="outlet.isActivated===false">
  <h1>{{title}}</h1>
  <h3> Attempts Remaining : {{life}}</h3>
  <h3>Time : {{counter | formatTime}}</h3>
  <h3>Wins : {{score}}</h3>
  <button mat-raised-button routerLink="/player/list/details" color="warn">Back</button>
  <button mat-raised-button routerLink="/player/list" color="warn">Exit</button>
  <div class="lone_button">
    <button mat-raised-button [ngStyle]="visibility == 1 ? {'dispay': 'visible'} : {'display': 'none'}"
      class="start_button" id="start" (click)="game_start()">PLAY</button>

  </div>
  <button mat-raised-button (click)="game_start()">Next</button>
  <h2 class="image" id="forca">{{this.message}}</h2>
<h2 >Hint :{{this.hintmessage}}</h2>

  <div class="letters_array">
    <p id="l_0" class="letter">{{chosenWord[0]}}</p>
    <p id="l_1" class="letter">{{chosenWord[1]}}</p>
    <p id="l_2" class="letter">{{chosenWord[2]}}</p>
    <p id="l_3" class="letter">{{chosenWord[3]}}</p>
    <p id="l_4" class="letter">{{chosenWord[4]}}</p>
    <p id="l_5" class="letter">{{chosenWord[5]}}</p>
    <p id="l_6" class="letter">{{chosenWord[6]}}</p>
    <p id="l_7" class="letter">{{chosenWord[7]}}</p>
    <p id="l_8" class="letter">{{chosenWord[8]}}</p>
    <p id="l_9" class="letter">{{chosenWord[9]}}</p>
  </div>

  <div class="letters_array">
    <p class="_letter">{{wordBottom[0]}}</p>
    <p class="_letter">{{wordBottom[1]}}</p>
    <p class="_letter">{{wordBottom[2]}}</p>
    <p class="_letter">{{wordBottom[3]}}</p>
    <p class="_letter">{{wordBottom[4]}}</p>
    <p class="_letter">{{wordBottom[5]}}</p>
    <p class="_letter">{{wordBottom[6]}}</p>
    <p class="_letter">{{wordBottom[7]}}</p>
    <p class="_letter">{{wordBottom[8]}}</p>
    <p class="_letter">{{wordBottom[9]}}</p>
  </div>

  <div class="button_array">
    <button class="letter_button" id="16" (click)="choice('q', '16')">Q</button>
    <button class="letter_button" id="22" (click)="choice('w', '22')">W</button>
    <button class="letter_button" id="4" (click)="choice('e', '4')">E</button>
    <button class="letter_button" id="17" (click)="choice('r', '17')">R</button>
    <button class="letter_button" id="19" (click)="choice('t', '19')">T</button>
    <button class="letter_button" id="24" (click)="choice('y', '24')">Y</button>
    <button class="letter_button" id="0" (click)="choice('a', '0')">A</button>
    <button class="letter_button" id="1" (click)="choice('b', '1')">B</button>
    <button class="letter_button" id="2" (click)="choice('c', '2')">C</button>
    <button class="letter_button" id="3" (click)="choice('d', '3')"> D</button>
    <button class="letter_button" id="5" (click)="choice('f', '5')">F</button>
    <button class="letter_button" id="6" (click)="choice('g', '6')">G</button>
    <button class="letter_button" id="7" (click)="choice('h', '7')">H</button>
    <button class="letter_button" id="8" (click)="choice('i', '8')">I</button>
    <button class="letter_button" id="9" (click)="choice('j', '9')">J</button>
    <button class="letter_button" id="10" (click)="choice('k', '10')">K</button>
    <button class="letter_button" id="11" (click)="choice('l', '11')">L</button>
    <button class="letter_button" id="12" (click)="choice('m', '12')">M</button>
    <button class="letter_button" id="13" (click)="choice('n', '13')">N</button>
    <button class="letter_button" id="14" (click)="choice('o', '14')">O</button>
    <button class="letter_button" id="15" (click)="choice('p', '15')">P</button>
    <button class="letter_button" id="18" (click)="choice('s', '18')">S</button>
    <button class="letter_button" id="20" (click)="choice('u', '20')">U</button>
    <button class="letter_button" id="21" (click)="choice('v', '21')">V</button>
    <button class="letter_button" id="23" (click)="choice('x', '24')">X</button>
    <button class="letter_button" id="25" (click)="choice('z', '25')">Z</button>
  </div>


</div>
<router-outlet #outlet="outlet"></router-outlet>
