<!-- <p>playerhome works!</p> -->

<app-navbar [navtitle]="navtitle">

</app-navbar>

<app-sidebarnav [items]="items" [title]="title" (selected)="onSelectedItem($event)">
    <p question>
        <router-outlet></router-outlet>
    </p>
</app-sidebarnav>